.navbar {
            width: 1440px;
            padding: 15px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ffffff;
            box-shadow: 0 2px 8px rgb(0, 0, 0);
            position: fixed;
            top: 0px;
            left: 0px
        }


        .logo {
            font-size: 22px;
            font-weight: 600;
            color: #121312;
        }

        .nav-links {
            margin: 0;
            padding: 0;
            display: flex;
            gap: 30px;
        }
body {
    font-family: Arial, sans-serif;
    background: #c0ebf9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #00796b;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    padding: 20px;
}

.card {
    background-color: #ebeff1;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    padding: 25px 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h2 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
    color: #004d40;
}

.footer {
    background: #5f97a4;
    color: #e0e0e0;
    padding: 40px 20px 10px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    width: 1200px;
    margin-left: 250px;

}

.footer-box {
    flex: 1 1 250px;
}

.footer-box h3 {
    margin-bottom: 15px;
    color: #ffd78a;
    font-size: 20px;
}

.footer-box p {
    font-size: 15px;

}

.footer-box ul {
    padding: 0;
}

.footer-box ul li {
    margin: 8px 0;
}

.footer-box ul li a {
    color: #cccccc;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: #ffd78a;
    padding-left: 5px;
}

.social-links a {
    font-size: 22px;
    margin-right: 10px;
    color: #ffd78a;
    transition: 0.3s;
}

.social-links a:hover {
    color: white;
}

.newsletter {
    text-align: center;
    margin: 40px auto;
    width: 600px;
}

.newsletter-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.newsletter input {
    padding: 12px;
    width: 60%;
    border-radius: 5px 0 0 5px;
}

.newsletter button {
    padding: 12px 20px;
    border: none;
    background: #ffd78a;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter button:hover {
    background: white;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 30px;
    padding-top: 10px;
}

.footer-bottom p {
    font-size: 14px
}
.social-icons img {
            width: 28px;
            margin: 0 5px;
            transition: 0.3s;
        }

.card p {
    font-size: 15px;
    color: #333333;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
}